
button{
  padding:10px;
  margin:20px;
  background-color:blue;
  border:none;

}
.change{
  background-color:yellowgreen;
  color:red;
  padding:10px;
  width:200px;
  border:none;
  border-radius:20px;
  margin-left:30px;
  text-align:center;
  align-items: center;
  justify-content: center;
}

.num{
  background-color: yellowgreen;
  color: red;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  font-size:35px;
  font-weight:bold;

  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}
