
button{
  
  padding:10px;
  margin:20px;
  background-color:blue;
  border:none;
  
}
h1{
  background-color:grey;
  color:red;
  padding:10px;
  width:100px;
  border:none;
  border-radius:20px;
  margin-left:30px;
  text-align:center;
}