.box{
  background-color: red;
}

button{
  display:flex;
  gap:10px;
  padding:10px;
  margin:20px;
  background-color:white;
}
h1{
  background-color:grey;
  color:red;
  padding:10px;
  width:fit-content;
}