body{
  background-color: black;
}
.parent{
  height:100vh;
  width:100%;
  background-color:black;
  padding:20px;
}
.card{
  height:350px;
  width:250px;
  background-color: white;
  border-radius:10px;
}.card .top{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.top img{
  height:30px;
}