body{
  background-color: black;
}
.parent{
  width:100%;
  background-color:black;
  padding:20px;
  flex-wrap: wrap;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.card{
  height:300px;
  width:230px;
  background-color: white;
  border-radius:10px;
  padding:20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom:20px;
}
.top img{
  height:40px;
  width:40px;
  border-radius:50%;
  border:1px solid black;
  padding:2px;
}
.top button{
  display:flex;
  align-items:center;
  border:1px solid #dadada;
  padding:4px 8px;
  font-size:11px;
  border-radius:5px;
  gap: 3px;
  background-color: black;
  color:white;
  padding:10px;
}
.center h3{
  font-size:15px;
  font-weight:400;
}
.center h3 span{
  font-size:9px;
  font-weight:400;
  color:#8b8b8b;
}
.center h2{
  font-size:20;
}.center .tag{
   display:flex;
   gap:5px;
   margin-top: 20px;
}
.center .tag h4{
  font-size:12px;
  background-color: #dadada;
  color:black;
  padding:4px 8px;
  font-weight:500;
  border-radius: 5px;
}
.divider {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 30px 0 8px 0; 
}

.bottom {
  display: flex;
  justify-content: space-between;

}
.bottom h3{
  font-size:20px;
}
.bottom p{
  font-size:13px;
}

.bottom button {
  width: 100px;
  height: 40px;
  margin: 0;  
  background-color: black;
  padding:10px;
  border-radius:5px;
  color:white;         
}


