*{
  margin: 0;
  padding: 0;
  box-sizing : border-box;
  font-family: 'helvetica neue';
  color:white;
}
html,
body{
  height:100%;
  width:100%;
  background-color: black;
}
.card{
   width:400px;
   border: 1px solid white;
   padding:20px;
   background-color: gray;
   border-radius:5px;
   text-align: center;
}
.card img{
  height: 100px;
  width:100px;
  object-fit:cover;
  border-radius: 10px;
}
.parent{
  padding:20px;
  display:flex;
  flex-wrap:wrap;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding:5px;
  background-color: white;
  border-radius:5px;
  border-width: 0px;
  margin:5px;
  width:100px;
  height:30px;
  color:black;
}
